<h1>Animals</h1>

<label for="species">Species</label>
<br>
<input type="text" size="50" [(ngModel)]="newAnimal.species" name="species">
<br>
<label for="name">Name</label>
<br>
<input type="text" size="50" [(ngModel)]="newAnimal.name" name="name">
<br>
<label for="dateOfBirth">Date of birth</label>
<br>
<input type="text" size="50" [(ngModel)]="newAnimal.dateOfBirth" name="dateOfBirth">
<br>
<button id="add" (click)="addAnimal(newAnimal)">Add Animal</button>
<br>



<table>
    <tr>
        <th>Species</th>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>Delete Animal</th>
        <th>Move to top</th>
        <th>Sector</th>
    </tr>
    <tr *ngFor= "let animal of animals">
        <td>{{ animal.species }}</td>
        <td>{{ animal.name }}</td>
        <ng-container *ngIf="animal.dateOfBirth">
            <td>{{ animal.dateOfBirth }}</td>
        </ng-container>
        <ng-container *ngIf="!(animal.dateOfBirth)">
                <td> Unknown </td>
        </ng-container>
        <td>
            <button (click)="remove(animal)">X</button>
        </td>
        <td>
            <button (click)="moveToTop(animal)">Move to top</button>
        </td>
        <td>{{ animal.sector.name }}</td>
    </tr>
</table>




<style>
    table{
        width:100%; 
        border: 1px solid black; 
        border-collapse: collapse; 
        padding: 15px; border-spacing: 5px;
        text-align: center;
    }
    td, th{
        border: 1px solid black;
    }
    input{
        height: 30px;
    }
    #add{
        margin-top: 20px;
        margin-bottom: 20px;
        height: 30px;
    }
</style>