<h1>Animals</h1>

<table>
    <tr>
        <th>Species</th>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>Delete Animal</th>
    </tr>
    <tr *ngFor= "let animal of animals">
        <td>{{ animal.species }}</td>
        <td>{{ animal.name }}</td>
        <ng-container *ngIf="animal.birthDate">
            <td>{{ animal.birthDate }}</td>
        </ng-container>
        <ng-container *ngIf="!(animal.birthDate)">
                <td> Unknown </td>
        </ng-container>
    </tr>
</table>




<style>

    table{
        width:100%; 
        border: 1px solid black; 
        border-collapse: collapse; 
        padding: 15px; border-spacing: 5px;
        text-align: center;
    }
    td, th{
        border: 1px solid black;
    }

</style>